{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<section id="AAC">
    <div class="container">
        <div class="row">

          <div style="background:transparent !important" class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <p class="lead text-secondary">“Automated Answer Checker” is a web application to compute marks from answers sheets using Handwriting recognition and similarity checking.</p>
            <hr class="my-4">

            <div class="row">
              <div class="col" align="center">
                <p class="lead">
                  <form action="{% url 'answer_key_upload' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg" value="Upload Answer Key">
                      Manage Answer Keys &nbsp;
                    </button>
                  </form>
                  </br>
                  <p>Upload or update answer keys of a subject</p>
                </p>
              </div>
              <div class="col" align="center">
                <p class="lead">
                  <form action="{% url 'answer_sheet_upload' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg" value="Upload Answer Sheet">
                      Manage Answer Sheets
                    </button>
                  </form>
                  </br>
                  <p>Upload or update answer sheets of a student</p>
                </p>
              </div>
            </div>

          </br>
          <div class="col">
            <table class="table table-light table-hover shadow-sm p-3 mb-5 bg-white rounded">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Obtained Mark</th>
                <th scope="col">Maximum Mark</th>
              </tr>
            </thead>
            <tbody>
              {% for data in datas %}
              <tr>
                <td>{{data.student_name}}</td>
                <td>{{data.subject_name}}</td>
                <td>{{data.computed_mark}}</td>
                <td>{{data.total_mark}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

  </div>
</div>

</section>

{% endblock %}
