{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<section id="AAC">
    <div class="container" align="right">
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-lg" value="Logout">
          Logout
        </button>
        <br>
      </form>
      <br>
    </div>

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Successfully added to Database</h1>
        </div>
      </div>
    </div>

</section>

{% endblock %}
