{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<section id="AAC">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="number"/>
                    <input type="submit" class="btn btn-secondary btn-lg" value="Number of Questions"/>
                </form>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <form method="POST" id="my_form2"></form>

                    <input type="button" class="btn btn-secondary btn-lg" form="my_form" value="Insert AnswerKey"/>
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}
