{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<section id="AAC">
    <div class="container" align="right">
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-lg" value="Logout">
          Logout
        </button>
      </form>
      <br>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                      <label for="Subject">Subject </label>
                      <select class="form-control" id="subject_name", name = "subject_name">
                        <option value="0" selected disabled> Select </option>
                        {% for obj in outData %}
                        <option value="{{ obj.subject_name }}">{{ obj.subject_name }} </option>
                        {% endfor %}
                      </select>
                    </div>

                    <input type="submit" class="btn btn-secondary btn-lg" value="Upload Answer sheet"/>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

        </div>
    </div>

      </div>
  </div>

</section>

{% endblock %}
