{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<section id="AAC">
    <div class="container">
        <div class="row">
            <div class="container" align="right">
                <form action={% url 'register' %}>
                    <br>
                    <input type="submit" class="btn btn-secondary btn-lg" value="New Teacher Registration" />
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" class="btn btn-secondary btn-lg" value="Login"/>
                </form>
            </div>

        </div>
    </div>

</section>

{% endblock %}
